<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TukTuk</title>
    <link rel="stylesheet" href ="static/css/styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue"></script>
</head>
<body>
<h1 class="text-center">DNS Management</h1>
<div id="app" class="container mt-4">
    <div class="dns-btn">
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Generate
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" @click="generateDNS('3600')">1 hour</a>
                <a class="dropdown-item" @click="generateDNS('86400')">1 day</a>
                <a class="dropdown-item" @click="generateDNS('604800')">1 week</a>
                <a class="dropdown-item" @click="generateDNS('2629743')">1 month</a>
                <a class="dropdown-item" @click="generateDNS('')">Forever</a>
            </div>
        </div>
        <p v-if="resp">New domain: {{dns_req.domain}}</p>
    </div>
    <br>
    <div class="dns-get-btn">
        <button @click="getDNS()" type="button" class="btn btn-outline-primary">Get available domains</button>
    </div>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Domain</th>
            <th scope="col">Delete Time</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="request in requests">
            <th scope="row">{{request.id}}</th>
            <td style="white-space:pre">{{request.domain}}
                <br>
                <button @click="deleteDNS(request.domain)" type="button" class="btn btn-danger">Delete</button>
            </td>
            <td scope="row">{{request.delete_time}}</td>
        </tr>
        </tbody>
    </table>
    <script src="static/js/main.js"></script>
</div>
</body>
</html>