<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TukTuk</title>
    <link rel="stylesheet" href ="static/css/styles.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue"></script>
</head>
<body>
    <h1 class="text-center">TukTuk Collaborator Project</h1>
    <div class="text-center">
        <a href="/dns">DNS management</a>
    </div>
    <br>
    <div class="text-center">
        <a href="/tcp">TCP management</a>
    </div>
        <div id="app" class="container mt-4">
            <div class="text-center">
                <button @click="TurnFTPon()" type="button" class="btn btn-outline-primary">FTP ON</button>
                <button @click="TurnFTPoff()" type="button" class="btn btn-outline-primary">FTP OFF</button>
                <p v-if="startFTP_success === true">FTP started</p>
                <p v-if="startFTP_success === false">Failed to start FTP</p>
                <p v-if="stopFTP_success === true">FTP stopped</p>
                <p v-if="stopFTP_success === false">Failed to stop FTP</p>
            </div>
            <div class="text-center">
                <button @click="TurnSMBon()" type="button" class="btn btn-outline-primary">SMB ON</button>
                <button @click="TurnSMBoff()" type="button" class="btn btn-outline-primary">SMB OFF</button>
                <p v-if="startSMB_success === true">SMB started</p>
                <p v-if="startSMB_success === false">Failed to start SMB</p>
                <p v-if="stopSMB_success === true">SMB stopped</p>
                <p v-if="stopSMB_success === false">Failed to stop SMB</p>
            </div>
            <br>
            <div class="buttons">
                <button @click="getData('http')" type="button" class="btn btn-outline-primary">HTTP</button>
                <button @click="getData('https')" type="button" class="btn btn-outline-primary">HTTPS</button>
                <button @click="getData('dns')" type="button" class="btn btn-outline-primary">DNS</button>
                <button @click="getData('ftp')" type="button" class="btn btn-outline-primary">FTP</button>
                <button @click="getData('smtp')" type="button" class="btn btn-outline-primary">SMTP</button>
                <button @click="getData('ldap')" type="button" class="btn btn-outline-primary">LDAP</button>
                <button @click="getData('smb')" type="button" class="btn btn-outline-primary">SMB</button>
                <br>
            </div>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Request</th>
                <th scope="col">Source IP</th>
                <th scope="col">Time</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="request in requests">
                <th scope="row">{{request.id}}</th>
                <td style="white-space:pre" style="width: 500px">{{request.data}}</td>
                <td>{{request.source_ip}}</td>
                <td>{{request.time}}</td>
            </tr>
            </tbody>
        </table>
        <script src="static/js/main.js"></script>
        </div>
</body>
</html>